@let user = auth.user$ | async;

@if (user) {
<p-table [value]="data()" sortField="title" [sortOrder]="1" sortMode="multiple" [tableStyle]="{ 'min-width': '60rem' }">
  <!-- Table header -->
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="userId" style="width:20%">
        <div class="flex items-center gap-2">
          User ID
          <p-sortIcon field="userId" />
        </div>
      </th>
      <th pSortableColumn="id" style="width:20%">
        <div class="flex items-center gap-2">
          Post ID
          <p-sortIcon field="id" />
        </div>
      </th>
      <th pSortableColumn="title" style="width:20%">
        <div class="flex items-center gap-2">
          Title
          <p-sortIcon field="title" />
        </div>
      </th>
      <th style="width:20%">
        <div class="flex items-center gap-2">
          Body
        </div>
      </th>
    </tr>
  </ng-template>

  <!-- Table body -->
  <ng-template pTemplate="body" let-product>
    @if (!data()[0].loading) {
    <tr>
      <td>{{ product.userId }}</td>
      <td>{{ product.id }}</td>
      <td>{{ product.title }}</td>
      <td>{{ product.body }}</td>
    </tr>
    } @else {
    <tr>
      <td><p-skeleton /></td>
      <td><p-skeleton /></td>
      <td><p-skeleton /></td>
      <td><p-skeleton /><p-skeleton /><p-skeleton /><p-skeleton /></td>
    </tr>
    }
  </ng-template>
</p-table>
} @else {
<p-progress-spinner ariaLabel="loading" />
}