.container {
  overflow-x: scroll;
  background: navy;
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 8px;
  font-family: 'Consolas', 'Monaco', monospace;
  color: #ffffff;
}

p-skeleton {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
